# OS
.DS_Store
Thumbs.db

# Python / Jupyter / R
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env/
.Rhistory
.RData
.Rproj.user/

# Conda artifacts
*.conda-env
*.lock.yml

# Central results (keep folder markers)
results/*
!results/**/.gitkeep

# Data (keep refs/, ignore everything else)
data/*
!data/.gitkeep
!data/refs/**

# Caches / logs
*.log
.cache/
.mypy_cache/
.pytest_cache/
