# OS / editor
.DS_Store
Thumbs.db
*.swp
*.swo

# Python / Jupyter / R
__pycache__/
*.py[cod]
.ipynb_checkpoints/
.venv/
.env/
.Rhistory
.RData
.Rproj.user/

# Conda / Pip artifacts
*.conda-env
*.lock.yml

# Data + Results (keep only .gitkeep markers)
data/*
!data/.gitkeep
!data/refs/**

results/*
!results/**/.gitkeep

# Logs / SLURM
logs/*
**/logs/
*.out
*.err

# TMP files 
**/tmp/
tmp/*

# Caches
*.log
.cache/
.mypy_cache/
.pytest_cache/
